{
  "auth" : {
    "vk" : {
      "gid1": { 
        "id": "apId1", 
        "key": "token1"
      },
      "gid2": {
        "id": "appId2",
        "key": "token2"
      }
    },
    "telegramm" : {
      "channel1": "token1"
    }
  },
  "crossPost": [
    {
      "from" : { 
        "vk": [ "gid1" ]
      },
      "to": {
        "vk": [ "gid2" ],
        "telegramm": [ "channel1" ]
      }
    } 
  ]
}
